body,
html {
  height: 100%;
}

body {
  color: #5a5a5a;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/021/639/original/pexels-dylan-thompson-733533.jpg?1637860598");
  background-size: 100% 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h1 {
  color: purple;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 12px;
}

h2 {
  color: black;
  font-size: 56px;
  display: inline;
}

ul {
  padding: 0;
  margin-top: 12px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  color: #878787;
}

a:hover {
  color: purple;
}

small {
  font-weight: 300;
}

.weather-app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.weather-app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #daddd1;
  border-radius: 3px;
}

.description {
  color: purple;
  font-weight: 700;
  margin-bottom: 12px;
}

.units {
  color: black;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: -21px;
}
